page-states {
.content{
         margin: 0;
            font-family: 'Open Sans', sans-serif;
            background: #ffffff;
        }
        h4,a,p,h3,h3,h5,h6{
            font-family: 'Open Sans', sans-serif !important;
        }
        .container {
            width: 1200px;
            margin: auto;
            padding: 15px;
        }
				.content .scroll-content {
					overflow-y: inherit !important;

				}
		
            header {
              background: url(../../assets/images/bg.svg) no-repeat;
              width: 100%;
              background-size: cover;
              display: table;
              position: relative;
            }
             header:after {
                content: "";
                position: absolute;
                background: url(../../assets/images/top-img.png) no-repeat;
                width: 100%;
                height: 19%;
                left: 0;
                right: 0;
                margin: auto;
                /* top: 0; */
                bottom: -12px;
                z-index: 99999;
                background-size: cover;
            }
            ul{
                margin:0;
                padding:0;
            }
            .header_section .logo {
                width: 40%;
                float: left;
                padding: 20px 0;
            }
            .header_section .nav {
                padding: 20px 0;
                text-align: right;
                width: 60%;
                float: left;
            }
            
            .header_section .nav li a {
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                padding: 0 15px;
                text-transform: uppercase;
            }
            
            .header_section .nav li {
                display: inline-block;
            }
            
            .header_section h4 {
                padding: 160px 0;
                text-align: center;
                font-size: 42px;
                text-transform: uppercase;
                color: #fff;
                display: inline-block;
            }
            
            .medi_coverage {
                text-align: center;
                padding: 91px 0;
            }
            .sec_outr {
                text-align: center;
            }
            
            .sec_outr p {
                text-align: left;
                color: #373a3c;
                font-size: 15px;
                line-height: 20px;
            }
            .sec_outr h5 {
                font-size: 24px;
                text-transform: uppercase;
                color: #5a5d5f;
            }
            .sec_outr h6 {
                margin: 0;
                color: #87898b;
            }
            
            section {
                background: #ffff;
            }
            div#state_data {
    max-width: 1200px;
    margin: auto;
} 
            .butttonn {
                display: inline-block;
                background: #fca602;
                padding: 12px 29px;
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                border-radius: 25px;
                margin: 13px 0 48px;
                font-size: 16px;
            }
            .dropdownn_Sec {
                background: #3d87e2;
                padding: 25px 0;
                margin: 50px 0;
            }
            
            .dropdownn_Sec i {
                color: #fff;
                font-size: 40px;
                padding: 0 10px;
            }
            .map_section {
                text-align: center;
            }
            .dropdownn_Sec h5 {
                font-size: 29px;
                color: #fff !important;
                margin: 14px 0;
            }
            .drop_Sec {
                margin: 20px 0;
            }
            footer{
                background:url(../../assets/images/foot-back.png) no-repeat;
                background-size: cover;
                width: 100%;
                text-align:center;
                padding:50px 0 10px;
            }
            
            .foot_section ul li {
                display: inline-block;
                padding: 30px 0 0;
            }
            
            .foot_section ul li a {
                color: #fff;
            }
            
            .foot_section ul li a i {
                font-size: 24px;
            }
            ul.foot-nav li a {
                font-size: 19px;
                padding: 10px;
            }
            ul.foot-nav {
                border-bottom: 1px solid #fff;
                width: 354px;
                margin: auto;
                padding-bottom: 32px;
                padding-top: 32px;
            }
            #usaTerritories-map {
               width: 100%;
               height: 100%;
                  }
    
            #usaTerritories-map svg {
                width: 90%;
                height: 100%;
                margin: auto;
                }
            .sec_outr  .desprective-content .prod_list li {
                    text-align: left;
                    padding: 5px;
                }
                
            .sec_outr  .desprective-content .prod_list {
                    padding: 13px 35px;
                }
                
            .sec_outr h6 {
                    color: #fff !important;
                }
            .foot_section ul li a {
                    color: #fff !important;
                }
                svg {
                    margin:  auto !important;
                    width: 998px !important;
                }
                
                div#usaTerritories-mapp {
                    margin: auto !important;
                    width: 100%;
                    text-align: center;
                }
                
                .jsmaps-wrapper .jsmaps {
                    margin: auto;
                    width: 100% !important;
                }
            
			.item-block.item-md.item-select {
				width: 49%;
				display: inline-block;
				margin: 0 4px;
			}
            
            @media screen and(min-width:992px){
                    ion-navbar.toolbar.toolbar-md {
                        display: none;
                    }
    
                    .scroll-content {
                        margin: 0 !important;
                    }
                    }
            @media screen and (min-width:992px) and (max-width:1200px){
                    .header_section .logo {
                        width: 20% !important;
                    }
                    .header_section .nav {
                        width: 80%;
                    }
                    .container {
                        width: auto !important;
                    }
                    .header_section h4 {
                            padding: 75px 0 123px !important;
                        }
                    }
            @media screen and (max-width:992px){
                    .header_section .logo {
                        width: 100% !important;
                        float: none !important;
                        padding: 0 !important;
                    }
    
                    header .logo {
                        display: none;
                    }
    
                    .logo {
                        float: right;
                    }
    
                    .logo img {
                        max-width: 78%;
                    }
                    .header_section .logo img {
                        max-width: 30%;
                    }
    
                    .header_section h4 {
                        padding: 0 !important;
                        font-size: 18px !important;
                        /* text-align: center; */
                        color: #000 !important;
                        margin: 42px 0 0;
                        display: block !important;
                    }
    
                    .container {
                        width: auto !important;
                    }
    
                    .nav {
                        display: none;
                    }
    
                    header {
                        background: transparent !important;
                    }
    
                    .medi_coverage {
                        padding: 27px 0 !important;
                    }
    
                    .butttonn {
                        margin-bottom: 18px !important;
                    }
    
                    ul.foot-nav li a {
                        font-size: 14px !important;
                    }
    
                    ul.foot-nav li i {
                        font-size: 14px !important;
                    }
                    .header_section .logo {
                        width: 100% !important;
                        float: none !important;
                        padding: 0 !important;
                    }
    
                    .header_section .logo img {
                        max-width: 30%;
                    }
    
                    .header_section h4 {
                        padding: 0 !important;
                        font-size: 18px !important;
                        /* text-align: center; */
                        color: #000 !important;
                        margin: 42px 0 0;
                        display: block !important;
                    }
    
                    .container {
                        width: auto !important;
                    }
    
                    .nav {
                        display: none;
                    }
    
                    header {
                        background: transparent !important;
                    }
    
                    .medi_coverage {
                        padding: 27px 0 !important;
                    }
    
                    .butttonn {
                        margin-bottom: 18px !important;
                    }
    
                    ul.foot-nav li a {
                        font-size: 14px !important;
                    }
    
                    ul.foot-nav li i {
                        font-size: 14px !important;
                    }
    
    
                    .foot_section img {
                        max-width: 20%;
                    }
    
                    ul.foot-nav {
                        padding: 18px 0 !important;
                    }
    
                    .foot_section ul li a i {
                        font-size: 19px !important;
                        padding: 0px !important;
                    }
    
                    .foot_section ul li {
                        padding: 21px 0 0 !important;
                    }
                    .logo img {
                        max-width: 69%;
                        padding: 4px 0;
                    }
                    .header_section {
                            margin: 42px 0 0;
                    }
                    }
}
