.page-signup {
.form_heading{
	text-align:center;
	font-size:22px;
}
.margin-top.list {
    margin-top: 35px;
}
section.form-section {
    width: 100%;
    float: left;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: #f4f5f5;
}
section.form-section::before {
    content: url(../../assets/images/left-bg.png);
    position: absolute;
    left: 0;
    top: 0;
}

section.form-section::after {
    content: url(../../assets/images/right-bg.png);
    position: absolute;
    right: 0;
    bottom: 0;
}
.form-inner {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    background-color: #fff;
    box-shadow: 3px 5px 30px rgba(132,132,132,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
	z-index: 99;
	padding: 54px 0;
	    position: relative;
}
.form-inner::before {
    content: url(../../assets/images/left-inner.png);
    position: absolute;
    left: -73px;
    bottom: -90px;
}

.form-inner::after {
    content: url(../../assets/images/right-inner.png);
    position: absolute;
    right: -68px;
    top: 23px;
}

.form-graphic {
    width: 50%;
    float: left;
}
.form-design {
    width: 50%;
    float: left;
    margin: auto;
    padding: 0 54px;
}
.form-graphic img {
    width: 100%;
}
.form-design form {
    width: 100%;
    float: left;
    margin-top: 30px;
}
.form-design img {
    text-align: center;
    margin: auto;
    display: table;
}
.form-design form label {
    color: #000;
    font-size: 20px;
}
.form-design input {
    height: 51px;
    width: 425px;
    margin-bottom: 10px;
    float: left;
    border: none;
    box-shadow: 8px 3px 56px rgba(132,132,132,0.3);
    color: #a9a9a7;
    font-size: 14px;
    padding: 0 35px;
	background-repeat: no-repeat;
    background-position: 20px center;
}
.form-design .form-group {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
input.submit {
    background-color: #3d87e2;
    color: #fff;
    font-size: 22px;
    border-radius: 6px;
    box-shadow: 2px 3px 2px rgba(132,132,132,0.3);
	    width: 470px;
}
input.email {
    background-image: url(../../assets/images/email.png);
}
input.pass{
background-image: url(../../assets/images/lock.png);
}
.form-design a {
    width: 100%;
    float: left;
    text-align: right;
    color: #5baae5;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;
}
button.button {
    height: 50px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}
.login-footer {
    width: 100%;
    text-align: right;
    float: left;
}
ion-list.list {
    width: 100%;
    float: left;
	border-radius: 4px;
    background-color: #387ef5;
}
ion-list.list button {
    color: #fff;
}

  
}
