<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Signup</ion-title>
		</ion-navbar>
</ion-header>

<ion-content class="page-signup">
	
<section class="form-section">
	<div class="form-inner">
		<div class="form-graphic">
			<img src="../../assets/images/vector.png">
		</div>
		<div class="form-design">
			<img src="../../assets/images/logo.png">
			
			<form (ngSubmit)="signup()" [formGroup]="form" autocomplete="off">
				<p class="form_heading">Signup</p>
				<ion-list inset>
					
					<ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched']) }">
						<ion-input type="text" placeholder="Email" formControlName="email" autocomplete="on" ></ion-input>
					</ion-item>

					<div ngxErrors="email" #emailErrors="ngxErrors">
						<div [ngxError]="['email', 'required']" [when]="['touched']">It should be a valid email</div>
					</div>

					<ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
						<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
					</ion-item>

					<div ngxErrors="password" #passwordErrors="ngxErrors">
						<div [ngxError]="['minlength', 'required']" [when]="['touched']">It should be at least 6 characters</div>
					</div>
				</ion-list>

				<div padding-horizontal>
					<div class="form-error">{{signupError}}</div>

					<button ion-button full type="submit" [disabled]="!form.valid">Sign up</button>
				
				
				<ion-list class="margin-top">

					<button ion-button icon-left block clear (click)="loginbtn()">
						<ion-icon name="person-add"></ion-icon>
						Login
					</button>
				</ion-list>
				</div>
			</form>
			
		</div>
	</div>
</section>

</ion-content>